

  *,*:before,*:after {
box-sizing: border-box;
  }


.body{
    background: #d4cdbe;
    color: black;
    transition: all .3s ease;
    
}

.dark_mode {
  background: #000000;
  color: white;
}

.header {
  width: 100%;
  padding: 15px 0;
}

.footer {
  width: 100%;
  padding: 15px 0;
  display: block;


  font-size: 20px;
  font-weight: 300;
  color: rgb(12, 11, 11);
}


/*Иконки*/
.fa-solid{
  font-size: 50px;
  margin-left: 50%;;
  color: rgb(10, 10, 10);
}

.icons{
  text-align: center;
  font-size: 50px;
}

.links {
  text-align: center;
  font-family: 'Lato';
font-style: normal;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 20px;
  
}

.icon_link {
  font-size: 50px;
  color: rgb(7, 7, 7);
}

.icon_link:hover {
  color: rgb(114, 102, 102);
  transition: 0.5s;
}

/*Текст*/
h1,h2,h3{
  margin: 0;
}

/*Картинки*/
img {
  width: 100%;
  height: 100%;
}

.stud_pfp {
  max-width: 900px;
  justify-self: center;
  overflow: hidden;
}

.bonus_pfp {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
}
/*Конец Картинки*/

/*Блоки*/
.block {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  max-width: 2030px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.stud_box {
  display: grid;
  grid-template-columns: repeat(
      auto-fit, minmax(300px, 1fr)
  );
  grid-gap: 20px;
}
/*Конец блоков*/

/*Инфа верх*/
.stud_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stud_futurejob {
  font-family: 'Lato';
font-style: normal;
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.stud_name {
  font-family: 'Lato';
font-style: normal;
  font-size: 64px;
  font-weight: 1;
  margin-bottom: 20px;
}

.stud_task {
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 48px;
margin-bottom: 20px;
}
/*Инфа верх конец*/

/*Инфа низ*/
.stud_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}

.stud_introduce {
  font-family: 'Lato';
font-style: normal;
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.stud_introduce_1 {
  font-family: 'Lato';
font-weight: normal;
max-width: 950px;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.stud_introduce_2 {
  font-family: 'Lato';
font-weight: normal;
max-width: 950px;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.stud_introduce_3 {
  font-family: 'Lato';
font-weight: normal;
max-width: 950px;
  font-size: 50px;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 20px;
}

.stud_introduce_4 {
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 50px;
margin: 0;
margin-bottom: 20px;
}
/*Инфа низ конец*/

/*Адаптив*/
@media screen and (max-width: 900px) {
  .block {
      padding-top: 30px;
  }

  .stud_box {
      grid-row-gap: 20px;
  }

  .bonus_pfp {
    max-width: 250px;
}

.stud_pfp {
  max-width: 450px;
}

  .stud_info {
    text-align: center;
}

  .stud_futurejob {
      font-size: 20px;
      margin-bottom: 10px;
  }

  .stud_name { 
      font-size: 20px;
      font-weight: 400;
  }

  .stud_task {
      font-size: 14px;
  }

/**/

  .stud_about {
    text-align: center;
    margin-left: 0%;
}

.stud_introduce {
  font-size: 20px;
  margin-bottom: 10px;
}

.stud_introduce_1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.stud_introduce_2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.stud_introduce_3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.stud_introduce_4 {
  font-size: 20px;
  margin-bottom: 10px;
} 

.links{
  font-size: 35px;
}

.fa-brands{
  font-size: 40px;
}

.footer{
  font-size: 25px;
  text-align: center;
}



}
